.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 255, 0.811);
    color: white;
}
.logo-name h3{
  font-family: ubuntu, sans-serif;
}
.sub-category-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 10;
    position: relative;
    /* top: 10px; */
    margin-left: 0px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.toggle-button {
    display: none; 
    background: transparent;
    border: none;
    color: white;
    font-size: 24px; 
    cursor: pointer;
}
.sub-category-list li{
   list-style: none;
}
.menu-items{
      font-family: ubantu, sans-serif;
    cursor: pointer;
    padding: 0px 0px;
    align-items: center;
    color: white;
    position: relative;
    text-decoration: none;
}
.sub-category-list::hover {
    color: white;
  }
  .menu-items::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -20px;
    transition: 0.3s ease-in-out;
  }
  .menu-items:hover:after {
    width: 100%;
  }

  @media (max-width: 768px) {
    .container {
        display:flex; 
        align-items: flex-start; 
        height: 60px;
        align-items: center

    }
    
.sub-category-list {
         display: none; 
        flex-direction: column; 
        position: absolute; 
       top: 43px;
        left: 0;
        cursor: pointer;
        right: 0;
        background-color: rgba(0, 0, 255, 0.811); 
        z-index: 2000; 
        }

.sub-category-list.active {
        display: flex;
        }

    .menu-items {
        padding: 10px; 
        width: 100%; 
        text-align: center; 
    }
     .toggle-button {
        display: block; 
    }
}

@media (max-width: 375px) {
    .container {
        padding: 10px; 
    }

    .menu-items {
        padding: 15px; 
        margin-left: -15px
    }
}